// ===================
// ===== CONTENT =====
// ===================

// -------------------
// Jumbotron

.jumbotron {
    .container {
        .flex {
            // LEFT COL
            .left-col {
                @include col-half;
                align-self: flex-start;

                .subtitle {
                    padding-top: 10px;
                    @include text-body
                }

                .buttons {
                    button {

                        margin: 30px 0 15px 0;
    
                        @include btn-full;
    
                        &:hover {
                            @include btn-full-hover;
                        }
    
                        &:active {
                            @include btn-full-active;
                        }
                    }

                    span {
                        @include text-caption;
                        padding: 0 5px;
                        vertical-align: super;
                    }
                }

                .text-caption {
                    @include text-caption
                }
            }
            // RIGHT COL
            .right-col {
                @include col-half;


            }
        }
    }
}

// -------------------
// Process

.process {
    background-color: $main-secondary;
    .container {

        padding-top: 50px;

        &:first-child {
            padding-bottom: 50px;
            border-bottom: 1px solid $main-primary;
        }
        
        .section-title {
            text-align: center;
            @include text-section-title;

            &:last-child {
                padding-top: 50px
            }
        }

        .images {

            @include flex-space-between;
            @include text-caption;
            text-align: center;

            img {
                width: auto;
                height: 100px;
                padding-bottom: 20px;
            }
        }

        .big-image {
            padding: 30px;
            text-align: center;
            img {
                width: 30%;
            }
        }
    }
}

// -------------------
// Interface

.interface {
    .container {

        padding: 50px 0;

        // LEFT SUB-SECTIONS
        &:nth-child(2n + 1) {
            margin-left: 2.5%;
        }

        // RIGHT SUB-SECTIONS
        &:nth-child(1n + 2) {
            margin-right: 2.5%;
        }

        .sub-section {

            @include flex-space-between;
            align-items: flex-start;

            &-big-image {
                width: 70%;
            }
            &-info {
                width: 30%;
            }
            &-title {
                @include text-section-title;
            }
            &-description {
                padding: 20px 0;
                @include text-body;
            }
            &-link {
                padding: 10px 0 30px 0;
                @include text-body;
                color: $main-accent;
            }
            
        }
        
    }
}