// ===================
// ===== MIXINS ======
// ===================

// -------------------
// Font

@mixin text-link {
    color: $main-primary;
    font-weight: 700;
    font-size: 14px;
}

@mixin text-body {
    color: $main-primary;
    font-weight: 300;
    font-size: 16px;
}

@mixin text-caption {
    color: $main-primary;
    font-weight: 300;
    font-size: 12px;
}

@mixin text-section-title {
    color: $main-primary;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 50px;
}

// -------------------
// Buttons

@mixin btn-empty {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border:  1px solid $main-accent;
    // Font
    @include text-link;
    color: $main-accent;

    div {

    display: flex;
    align-items: center;

        img {
        width: 20px;
        margin-right: 5px;
        }
    }
    
}

@mixin btn-empty-hover {
    border:  1px solid $main-primary;
    // Font
    color: $main-primary;
}

@mixin btn-empty-active {
    background-color: $main-accent;
    // Font
    color: #fff;
}

@mixin btn-full {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $main-accent;
    border:  1px solid $main-accent;
    transition: all 0.2s;
    // Font
    @include text-link;
    color: #fff;

    div {

        display: flex;
        align-items: center;
    
            img {
            width: 20px;
            margin-right: 5px;
            }
        }
}

@mixin btn-full-hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 1px rgba($color: $main-accent, $alpha: 0.2);
}

@mixin btn-full-active {
    background-color: transparent;
    border:  1px solid $main-accent;
    // Font
    color: $main-accent;
}

// -------------------
// Links

@mixin link-hover {
    transform: scale(1.05);
}

@mixin link-active {
    color: $main-secondary;
}

// -------------------
// Columns

@mixin col-half {
    width: 50%;
    padding: 35px 0;
}

// -------------------
// Flex

@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}